<h1 style="color: blue;"> Exercise 2 - Create a markdown cell with the title of the notebook.</h1>

# Data Science Tools and Ecosystem

<h1 style="color: blue;"> Exercise 3 - Create a markdown cell for an introduction.</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h1 style="color: blue;"> Exercise 4 - Create a markdown cell to list data science languages.</h1>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Ruby

<h1 style="color: blue;"> Exercise 5 - Create a markdown cell to list data science libraries.</h1>

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Keras
6. Matplotlib
7. ggplot2

<h1 style="color: blue;"> Exercise 6 - Create a markdown cell with a table of Data Science tools.</h1>

<table>

<table> <tr><th>Data Science tools</th></tr><tr><td>Jupyter Notebook</td></tr><tr><td>RStudio</td></tr><tr><td>Apache Spark</td></tr></table>

<h1 style="color: blue;"> Exercise 7 - Create a markdown cell introducing arithmetic expression examples.</h1>

Below are some examples of arithmetic expressions in Python:

<h1 style="color: blue;"> Exercise 8 - Create a code cell to multiply and add numbers.</h1>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [10]:
# This a simple arithmetic expression to mutiply then add integers
result = 5 + (4 * 3)
print(f"This a simple arithmetic expression to mutiply then add integers {result:.2f}.")

This a simple arithmetic expression to mutiply then add integers 17.00.

<h1 style="color: blue;"> Exercise 9 - Create a code cell to convert minutes to hours.</h1>

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours.")

200 minutes is equal to 3.33 hours.

<h1 style="color: blue;"> Exercise 10 - Insert a markdown cell to list Objectives.</h1>

**Objectives:**
- List popular languages for Data Science
- Explore key libraries used in Data Science
- Understand essential tools for data analysis
- Perform basic arithmetic operations
- Convert time units in programming

<h1 style="color: blue;"> Exercise 11 - Create a markdown cell to indicate the Author's name.</h1>

## Author
Yosif

<h1 style="color: blue;">Exercise 12 - Share your notebook through GitHub.</h1>